@import "./Colors.scss";
@import "./Variables.scss";

.app {
  min-height: 100vh;
  margin: 0;
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 100px;

    .header {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  
    .body {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


}

button, input[type=button] {
  appearance: none;
  min-height: 60px;
  min-width: 60px;
  padding: 0 20px;
  background: $main;
  box-shadow: $morph-up;
  border: none;
  border-radius: $round-corner;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: $morph-down;
  }

  &.icon {
    padding: 0 0;
  }

}

input[type=text] {
  appearance: none;
  min-height: 60px;
  min-width: 60px;
  padding: 0 20px;
  background: $main;
  box-shadow: $morph-down-inset;
  border: none;
  border-radius: $round-corner;
}

svg {
  height: 32px;
  display: flex;
  path {
    fill: $secondary;
  }
}
